nav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 10;
}

	nav a {
		text-decoration: none;
		color: black;
		font-size: 1.3em;
		text-align: center;
		padding: 0.2em;
		width: 100%;
		transition: 0.5s;
	}

		nav a:hover {
			background-color: #b7bbc6;
			transition-duration: 0.25s;
		}

.selected {
	text-decoration: underline;
}

.dropdown-content {
	list-style: none;
	visibility: hidden;
	top: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	background-color: #ced1d9;
	opacity: 0;
	line-height: 1.5;
	transition: 0.25s;
	border: 0px solid black;
}


.dropdown:hover .dropdown-content {
	visibility: visible;
	opacity: 1;
	transition-duration: 0.25s;
}

.main-menu {
	padding: 0;
	width: 90%;
	margin: auto;
	display: flex;
	border-bottom: 0px solid white;
}

	.main-menu > li {
		margin: 0;
		display: inline-flex;
		justify-content: center;
		flex: 1;
	}

    #menu-button{
        display:none;
    }



@media only screen and (max-width: 600px) {

	#menu-button {
		border: none;
		display: flex;
		padding: 0;
		height: 40px;
		width: 100%;
		background-color: #b7bbc6;

	}
        #menu-button svg {
 
            width:80px;
            margin:auto;
        }



	.main-menu {
		display: none;
		position: absolute;
		background-color: #ced1d9;
		flex-wrap: wrap;
		width: 100%;
		font-size: 1.2em;
		border-color: black;
	}

		.main-menu > li {
			flex: auto;
			flex-wrap: wrap;
			width: 100%;
		}

	li a {
		text-align: left;
		padding-left: 40px;
	}

	.dropdown-content {
		visibility: visible;
		padding-left: 40px;
		width: 100%;
		position: initial;
		opacity: 1;
		line-height: 1;
		border-color:white;
	}

	nav a:hover {
		background-color: #ced1d9;
		transition-duration: 0;
	}
}


.on-hover:hover .main-menu {
	display: flex;
}

.show {
	display: flex;
}