* {
	box-sizing:border-box;
}

body {
	background-color: #02112A;
	color: black;
	font-family: 'Alegreya Sans SC', sans-serif;
	margin: 0;
	padding: 0;

}

header {
	margin: 2.5em;
	text-align: center;
    animation: fade-in 1s;
}

	header h1, header h2 {
		color: #eaeaea;
	}

	header h1 {
		font-size: 3.8em;
		margin: 0 0 0.3em 0;
	}


h1, h2, h3 {
	font-weight: 300;
	margin: 0;
}

h2 {
	font-size: 2.2em;
}



#high-contrast {
	float:right;
	background-color: white;
	border: 2px solid black;
	margin: 10px;
	width: 34px;
	height: 34px;
	padding: 5px;
	box-shadow: gray 2px 2px;
}
	#high-contrast:hover {
		box-shadow:gray -2px -2px;
	}

	#high-contrast img {
		width: 100%;
		padding: 0;
	}

	.container {
		max-width: 1100px;
		margin: auto;
		overflow: hidden;
	}

section {
	margin: 80px;
	margin-top: 30px;
	padding-top: 50px;
}

	section h2 {
		margin: 0 0 0 2em;
	}

p {
	font-family: 'Cairo', sans-serif;
	text-align: justify;
	font-size: 1.1em;
}
	section > p::first-letter {
		padding-left:1em;
	}


.source {
	text-align: right;
	padding-top: 1em;
	margin-bottom: 3em;
}

nav, footer {
	background-color: #ced1d9;
}

main {
	display: block;
	color: black;
	margin-top: -1px;
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-position: top;
}

	main .container {
		background-color: #eaeaea;
	}

	main a {
		color: #36354E;
	}


table {
	border-collapse:collapse;
}

th {
	font-weight: normal;
	font-family: 'Cairo', sans-serif;
	border-bottom:1px solid lightgray;
	padding:0.2em 1em 0.2em 1em;
}

.heading {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size:1.1em;
	font-weight: bold;
}

footer.container{
	padding: 5px;
	text-align: center;
	display: flex;
	align-content: center;
	justify-content: center;
    flex-wrap: wrap;
}

    footer a {
        margin-right: 40em;
        color: #36354E;
    }

#copyright {
	width: 100%;
}




.gallery {
	display:flex; 
	flex-wrap: wrap;
	margin:auto;
	margin-top:1em;
	padding:20px;
	justify-content:center;
}

.img-container {
	margin: 15px;
	background-color: #ced1d9;
	text-align: center;
	transition-duration: 0.1s;
}

	.img-container a {
		text-decoration:none;
	}

	.img-container  h3 {
		font-size:1.1em;
	}

	.img-container  img {
		width: 250px;
		height: 380px;
		object-fit: cover
	}
	.zoom:hover{
		transform: scale(1.3);
		transition-duration: 0.25s;
	}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@media only screen and (max-width: 1060px) {
    section {
        margin: 40px;
    }

	.gallery {
		padding: 20px;

	}
    .img-container {
        margin: 5px;
    }


    footer a{
        margin-right: 10em;
    }
}


@media only screen and (max-width: 960px) {
	section h2 {
		margin: 0;
		text-align: center;
	}

	.gallery {
		padding:5px;
	}

	.img-container img {
		max-width: 210px;
		max-height: 320px;
	}

	.zoom:hover {
		transform: none;
		transition-duration: 0;
	}
}


@media only screen and (max-width: 768px) {
	section {
		margin: 10px;
	}

	header {
		margin: 1em;
	}

	nav a {
		padding: 0.1em;
	}

	.gallery {
		padding: 0;
	}


	.img-container {
		background-color:transparent;
	}

		.img-container img {
			width: 180px;
			height: 270px;
		}

		.img-container h3 {
			display: none;
		}
}

@media only screen and (max-width: 600px) {
	header h1 {
		font-size:3em;
	}

	.img-container img {
		width: 150px;
		height: 225px;
	}

	footer a {
		margin-right: 0;
	}
	#contact-info, #number-of-visits{
		width:100%;
		margin-bottom:10px;
	}
}